*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgb(230, 230, 230);
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    color: transparent;
    font-size: 2em;
    text-shadow: -2px -2px 4px white,
                2px 2px 4px rgb(110, 110, 110);
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
article{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 400px;
    /* border: 3px solid rgb(240, 240, 240); */
    border-radius: 40px;
    box-shadow: inset -12px -10px 9px white,
                inset 12px 10px 9px rgb(189, 189, 189);
}
#displaysection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0px 20px;
}
#pdiv{
    margin-right: 0px;
    margin-left: auto;
    width: 80%;
    height: 25%;
    transform: translateY(-50%);
}
p{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color: white; */
    padding-right: 20px;
    height: 120%;
    width: 100%;
    overflow: hidden;
    /* background-color: rgb(224, 224, 224);
    border-radius: 10px; */
}
p:nth-child(1){
    font-size: 1em;
    opacity: 0.4;
    /* color:blue; */
}
p:nth-child(2){
    font-size: 1.7em;
}
.clearbutten{
    margin-right: 0px;
    margin-left: auto;
    color: red;
    font-weight: 550;
}
button{
    background-color: transparent;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: none;
    margin: 5px;
    font-size: 1.2em;
    box-shadow: -5px -5px 6px white,
                5px 5px 6px rgb(189, 189, 189);
    transition: ease 100ms;
    outline: none;
}
button:active{
    transform: scale(0.9);
}
.equalto{
    /* border-radius: 50px; */
    /* margin: 15px 0px; */
    /* height: 50px; */
    /* width: 100px; */
    font-size: 1.8em;
    color: rgb(255, 115, 0);
}
.asiner{
    color: rgb(29, 182, 54);
    font-weight: 600;
}
div:nth-child(5){
    margin-bottom: 50px;
}